@font-face{
    font-family:'DIN Round Web';
    src:url('./fonts/DINRoundWeb.eot');
    src:url('./fonts/DINRoundWeb.eot?#iefix') format("embedded-opentype"),url('./fonts/DINRoundWeb.ttf') format("truetype")
}
@font-face{
    font-family:'DIN Round Web Medium';
    src:url('./fonts/DINRoundWeb-Medium.eot');
    src:url('./fonts/DINRoundWeb-Medium.eot?#iefix') format("embedded-opentype"),url('./fonts/DINRoundWeb-Medium.ttf') format("truetype")
}

html, body {
  font-family: "DIN Round Web" !important;
}

body {
  padding: 1rem 0;
}

html {
  font-size: 1rem;
}

/* Custom data styles */

.tube-service-information {
  background-color: #F1F1F1;

}

.tube-status-icon {
  line-height: 2rem;
  vertical-align: middle;
}

.tfl-attribution-footer {
  background-color: #F1F1F1;
  font-size: 0.8rem;
}

/* Spinner */

.spinner {
  margin: 0 auto;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 12px;
  height: 12px;
  background-color: #333;

  margin: 0 3px;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/* Responsiveness tweaks */

@media (max-width: 991px) {
  body {
    background-color: #B70062;
  }

  .spinner > div {
    background-color: #FFF;
  }
}